.react-calendar {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.react-calendar button.turnip-buy-day {
  background: rgb(245, 205, 119);
}

.react-calendar button.turnip-sell-day {
  background: rgb(163, 219, 130);
}

div.turnip-sell-day {
  cursor: pointer;
}

.react-calendar button.react-calendar__tile--now {
  background: rgb(101, 167, 230);

}

.react-calendar__tile {
  padding: 8px 2px;
  width: 100%;
  height: 108px;
  border: 1px solid gray;
}
.react-calendar button {
  margin-bottom: 2px;
  padding: 0 20px;
  /* border-bottom: 1px solid rgb(196, 196, 196); */
}

/* .react-calendar__month-view__weekNumbers .react-calendar__tile {
  padding: 0;
} */

textarea.turnip-json-data {
  width: 100%;
}

.pattern-predictions-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: column wrap; */
}

.pattern-prediction {
  /* display: flex; */
  /* min-width: 50%; */
  width: 50%;
  /* flex-shrink: 0; */
  max-width: 50%;
  min-width: 50%;
}

.pattern-prediction h5 {
  margin-bottom: 0;
}