@import 'variables';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  background: #EEE;
  font-family: georgia, serif;
  font-weight: normal;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  background-image: url(../images/turnip.svg), none;
  background-repeat: repeat;
  background-size: 10%;
  z-index: -1;
  filter: blur(.02rem) opacity(0.1);
  width: 100%;
  top: 0;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  body::before {
    background-size: 5%;
  }
}

h1, h2, h3, h4, h5, p, a, ::before {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $font-black
}

a {
  color: blue;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

h5, p, abbr, ::before {
  font-size: 14px;
}

button {
  background-color: $green;
  border: none;
  color: $white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.turnip-share-link {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    margin-left: 10px;
  }
  button {
    cursor: pointer;
  }
}

.JSON-area {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h2 {
    min-width: 100%;
    margin-bottom: 5px;
  }
  .JSON-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  textarea {
    min-width: calc(100% - 70px);
    max-width: calc(100% - 70px);
  }
  button {
    width: 50px;
    cursor: pointer;
  }
}
.Toastify__toast--success {
  background: $green !important;
}

.text-content-container {
  background: $white;
  margin: 20px auto;
  border-radius: 12px;
  padding: 10px;
  h2 {
    margin-bottom: 15px;
    text-align: center;
  }
  h3 {
    margin-top: 15px;
    font-size: 90%;
  }
  p {
    margin-top: 10px;
  }
  @media only screen and (min-width: 768px) {
    max-width: 700px;
  }
  ul {
    list-style: decimal;
    margin-top: 8px;
    padding-inline-start: 30px;
  }
}

footer {
  text-align: center;
}