// https://coolors.co/51840f-81b340-f2e8cf-d9989e-bc4749-522a3f-6a3125
$avocado: #51840f;
$green-ryb: #81b340;
$eggshell: #f2e8cf;
$pastel-pink: #d9989e;
$deep-chestnut: #bc4749;
$old-mauve: #522a3f;
$liver-organ: #6a3125;

$brown: $liver-organ;
$green: $green-ryb;
$dark-green: $avocado;
$pink: $pastel-pink;
$red: #dc090d;
$violet: $old-mauve;
$gray: #797D81;
$light-gray: #e0e0e0;
$white: #FBFBFB;
$font-black: #222;
$font-white: #EEE;